.customer-table {
  text-align: center;
  width: 98%;
  margin: auto;
  margin-bottom: 2em;
}

.customer-table td {
  height: 50px;
}

.selected,
.selected button {
  background-color: lightgreen;
}

.selected button:focus {
  background-color: #c9ffc9;
}