.customer-list {
  width: 100%;
}

.error-message { 
  width: 100%;
  padding: 1em;
  background-color: tomato;
  color: white;
  text-align: center;
  margin-bottom: 2em;
}

.selected {
  background-color: lightgreen;
}